#the 3200 port is for exposing the traces for like grafana.
server:
  http_listen_port: 3200

#the port 4317 which uses grpc, is for receiving the data from collector in this case
distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

storage:
  trace:
    backend: local
    local:
      path: /tmp/tempo/traces
    wal:
      path: /tmp/tempo/wal

compactor:
  ring:
    kvstore:
      store: memberlist